* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.product-image {
  width: 100%;
  height: auto;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
}

h1 {
  color: blue;
  margin: 1rem;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-gap: 2rem;
  list-style-type: none;
}

.product-grid-item {
  display: grid;
  grid-template-rows: min-content;
  border-radius: 0.5rem;
}

.product-title {
  font-size: 2rem;
  margin: 1rem;
}

.product-content {
  padding-left: 1rem;
}

.product-price {
  font-style: italic;
}

.product-buynow-button {
}

@media only screen and (min-width: 48rem) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 64rem) {
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
